img{
  width: 100%;
  max-height: 80%;
  padding: auto;
  margin: auto;
  object-fit: cover;
}

.img{
  height: 23rem;
  padding: auto;
  margin: auto;
}

.product{
height: 60%;
}


.card-body {
  box-shadow: 1px 3px 5px grey;
  background-color: #7ac7c4;
  color: black;
  max-width: 100%;
}

.nav-link:hover {
  color: brown;
}

.d-block{
  margin-top: 3%;
}
sub{
  font-size: 0.8rem;
  text-decoration: underline;
}